<app-dialog-form-component [(isDisplay)]="isOpen" [header]="'Faire ça review'" [form]="form"
    (onCancel)="isOpen.set(false)" (onValidate)="validate()">

    <div class="p-4 bg-primary-100 rounded-lg mb-4 border border-primary-300">
        <p class="text-muted-color">Film sélectionné</p>
        <p class="font-bold text-2xl text-primary">{{ video().title }}</p>
    </div>

    <div class="p-4 bg-amber-100 rounded-lg mb-4 border border-amber-300">
        <p class="text-muted-color">Note moyenne</p>
        <p class="text-amber-600">
            <span class="font-bold text-2xl">{{ averageScore }}</span>
            <span class="text-xl"> / 10</span>
        </p>
    </div>

    <p-divider align="left" type="solid">
        <b class="flex items-center gap-2"><span class="material-symbols text-primary text-xl!">star</span>Évaluation</b>
    </p-divider>

    <div class="flex gap-2">
        <div class="border border-surface rounded-lg p-4 flex-1">
            <app-input-star-rating-component [starCount]="5" icon="wand_stars" label="Visuel" controlName="visualsRating" [form]="form" />
        </div>
        <div class="border border-surface rounded-lg p-4 flex-1">
            <app-input-star-rating-component [starCount]="5" icon="theater_comedy" label="Jeux d'acteur" controlName="actingRating" [form]="form" />
        </div>
    </div>

    <div class="flex gap-2">
        <div class="border border-surface rounded-lg p-4 flex-1">
            <app-input-star-rating-component [starCount]="5" icon="book_5" label="Scénario" controlName="scenarioRating" [form]="form" />
        </div>
        <div class="border border-surface rounded-lg p-4 flex-1">
            <app-input-star-rating-component [starCount]="5" icon="library_music" label="Musique" controlName="musicRating" [form]="form" />
        </div>
    </div>

    <p-divider align="left" type="solid">
        <b class="flex items-center gap-2"><span class="material-symbols text-primary text-xl!">info</span>Informations supplémentaires</b>
    </p-divider>

    <app-input-toggle-switch-component label="Ajouter aux favories ?" controlName="isFavorite" [form]="form" />

    <app-input-textarea-component label="Commentaire" controlName="comment" [form]="form" icon="comment" placeholder="Mon avis..." />

</app-dialog-form-component>