<p-drawer
    [(visible)]="isVisible"
    position="right"
    [pt]="{ root: { style: { width: '100vw', maxWidth: '500px' } }, header: { style: { padding: '.5rem' } } }"
>

    <ng-template #header>
        <div class="flex justify-between w-full">
            <p-button icon="pi pi-arrow-left" [text]="true" [rounded]="true" (onClick)="onPreviousDate()" />
            <p class="">{{ date() | date:'fullDate':'':'fr-FR' }}</p>
            <p-button icon="pi pi-arrow-right" [text]="true" [rounded]="true" (onClick)="onNextDate()" />
        </div>
    </ng-template>

    <app-title-component [styleClass]="'h3'" >Événements du jour</app-title-component>

    <div class="flex flex-col gap-2">

    @for (item of events(); track $index) {

        <div class="p-2 border border-primary-300 bg-primary-50 rounded">
            <p class="font-bold">{{ item.title }}</p>
            <p>{{ item }}</p>
        </div>

    }

    </div>

    <div class="mt-auto">
        <p-button label="Ajouter un événement" variant="outlined" icon="pi pi-plus-circle" />
    </div>

</p-drawer>