<div [formGroup]="form()">
    <label [for]="controlName()" class="label">{{ label() }} {{ form().get(controlName())?.errors?.['required'] ? '*' : '' }}</label>
    <p-iconfield>
        <p-inputicon>
            <span class="material-symbols text-[18px]!">{{ icon() }}</span>
        </p-inputicon>
        <p-autocomplete [name]="controlName()" [placeholder]="placeholder()" [formControlName]="controlName()" fluid [suggestions]="items()" >
            <ng-template let-country #item>
                <ng-content />
            </ng-template>
        </p-autocomplete>

    </p-iconfield>
        
    <app-input-error-message-component
        [controlName]="controlName()"
        [form]="form()"
    />
</div>