<app-dialog-form-component 
    [(isDisplay)]="isDisplay" 
    [(form)]="form" 
    header="Créer ou éditer une catégorie de galerie"
    (onValidate)="save()"
    (onCancel)="cancel()"
    >

    <app-input-text-component 
        label="Nom de la catégorie" 
        icon="category"
        controlName="name"
        placeholder="Entrez le nom de la catégorie"
        [form]="form"
    />

    <app-input-select-component
        label="Catégorie parente"
        icon="category"
        controlName="parentId"
        placeholder="Sélectionnez une catégorie parente"
        [options]="galleryCategories()"
        [form]="form"
        (searchChange)="onSearchParentCategories($event)"
    />

</app-dialog-form-component>