<div [formGroup]="form()">
    <label [for]="controlName()" class="label">{{ label() }} {{ form().get(controlName())?.errors?.['required'] ? '*' : '' }}</label>
    <p-iconfield>
        <p-inputicon>
            <span class="material-symbols text-[18px]!">{{ icon() }}</span>
        </p-inputicon>
        <p-password [toggleMask]="true" optionLabel="label" optionValue="value" [formControlName]="controlName()" [name]="controlName()"
            filterBy="label" [placeholder]="placeholder()" fluid [feedback]="needRules()" [mediumRegex]="mediumRegex" [strongRegex]="strongRegex"
             >
             @if (needRules()) {
                <ng-template #footer>
                    <p-divider />
                    <ul class="pl-2 my-0 leading-normal">
                        <li [class]="hasLowercase ? 'text-green-600' : 'text-red-600'">Minimum une minuscule</li>
                        <li [class]="hasUppercase ? 'text-green-600' : 'text-red-600'">Minimum une majuscule</li>
                        <li [class]="hasNumber ? 'text-green-600' : 'text-red-600'">Minimum un chiffre</li>
                        <li [class]="hasMinLength ? 'text-green-600' : 'text-red-600'">Minimum 12 caractères</li>
                        <li [class]="hasSpecialChar ? 'text-green-600' : 'text-red-600'">Minimum un caractère spécial</li>
                    </ul>
                </ng-template>
             }
        </p-password>
    </p-iconfield>
    @if(form().get(controlName())?.invalid && form().get(controlName())?.dirty) {
        @if(form().get(controlName())?.errors?.['required']) {
            <app-input-error-message-component>Le champs est requis</app-input-error-message-component>
        }
        @if(form().get(controlName())?.errors?.['passwordMismatch']) {
            <app-input-error-message-component>Les mots de passe ne correspondent pas</app-input-error-message-component>
        }
    }
    @if (needForgetPasswordLink()) {
        <div class="mt-2 text-right">
            <a routerLink="/auth/forgot-password" class="text-sm text-blue-600 hover:underline">Mot de passe oublié ?</a>
        </div>
    }
</div>

