<app-dialog-form-component [(isDisplay)]="isDisplay" [header]="isCreating() ? 'Créer un groupe' : 'Modifier le groupe'"
    [(form)]="form" (onCancel)="cancel()" (onSubmit)="save()">

    <app-input-text-component [form]="form" [controlName]="'name'" [label]="'Nom'" [icon]="'id_card'"
        [placeholder]="'Nom du groupe'" />

    <app-header-auto-complete-component [label]="'Utilisateur'" [icon]="'person_add'" [(input)]="createOrEditGroupService.search"
        class="flex-1" [placeholder]="'Nom de l\'utilisateur'" [items]="users()" />

</app-dialog-form-component>