<p-dialog ngSkipHydration [header]="header()" [modal]="true" [(visible)]="isDisplay" (onHide)="onCancel.emit()">

    <div>

        <form class="flex gap-2 flex-col w-screen max-w-xl" (ngSubmit)="validate()">

            <ng-content></ng-content>

            <div class="flex justify-end gap-4 mt-4">

                <button type="button" pButton label="Annuler" class="p-button-secondary" (click)="onCancel.emit()"></button>

                <button type="submit" pButton label="Valider"></button>

            </div>

        </form>

    </div>

</p-dialog>