<div class="mt-8">

    <app-title-component styleClass="h2">Détails</app-title-component>

    <div class="flex gap-4 flex-wrap">

        <div class="flex-1 flex flex-col gap-4 min-w-96">

            <div class="flex h-24 p-4 rounded-md border border-surface gap-2">

                <img [src]="video()?.director?.fileUrl" alt="directeur" class="h-full object-cover rounded-md w-12" />

                <div class="flex-1">
                    <p class="font-bold text-muted-color">Réalisateur</p>
                    <p>{{ video()?.director?.name }}</p>
                </div>

            </div>

            <div class="flex p-4 rounded-md border border-surface gap-2 h-20">

                <div class="flex justify-center items-center h-full bg-surface-100 w-12 rounded-md">
                    <span class="material-icons-outlined text-primary">language</span>
                </div>

                <div class="flex-1">
                    <p class="font-bold text-muted-color">Langue originale</p>
                    @if (video()?.type === 'movie') {
                    <p>{{ video()?.movieDetails?.originalLanguage }}</p>
                    } @else if(video()?.type === 'serie') {
                    <p>{{ video()?.serieDetails?.originalLanguage }}</p>
                    }
                </div>

            </div>

            @if(video()?.type === 'movie') {
            <div class="flex p-4 rounded-md border border-surface gap-2 h-20">

                <div class="flex justify-center items-center h-full bg-surface-100 w-12 rounded-md">
                    <span class="material-icons-outlined text-primary">account_balance_wallet</span>
                </div>

                <div class="flex-1">
                    <p class="font-bold text-muted-color">Budget</p>
                    <p>{{ video()?.movieDetails?.budget }}</p>
                </div>

            </div>
            }

            @if(video()?.type === 'movie') {
            <div class="flex p-4 rounded-md border border-surface gap-2 h-20">

                <div class="flex justify-center items-center h-full bg-surface-100 w-12 rounded-md">
                    <span class="material-icons-outlined text-primary">account_balance_wallet</span>
                </div>

                <div class="flex-1">
                    <p class="font-bold text-muted-color">Recette</p>
                    <p>{{ video()?.movieDetails?.revenue }}</p>
                </div>

            </div>
            }

        </div>


        <div class="flex-1 rounded-md border border-surface p-4 min-w-96">

            <p class="font-bold text-muted-color">Production</p>

            <div class="flex-1 flex flex-col p-2 gap-2">

                @for (productionCompany of video()?.productionCompanies; track $index) {

                <div class="h-12 flex gap-2 items-center rounded-md border border-surface p-2">
                    <img [src]="productionCompany.fileUrlOrEmpty" alt="production company"
                        class="h-full object-cover rounded-md" />

                    <div class="flex-1">
                        <p>{{ productionCompany.name }}</p>
                    </div>
                </div>

                }

            </div>

        </div>

    </div>

</div>