<div class="w-full">
    <label>{{ label() }}</label>
    <p-autocomplete 
        [placeholder]="placeholder()"
        [ngModel]="search()"
        (ngModelChange)="onSearchModelChange($event)"
        [suggestions]="videos()"
        [optionLabel]="'title'"
        [forceSelection]="false"
        fluid
        [showEmptyMessage]="true"
        (onSelect)="onSelect($event)"
    >
        <ng-template let-video #item>
            <div class="flex items-center gap-2">
                <img [src]="video.fileUrlOrEmpty" style="width: 18px" />
                <div>{{ video.title }}</div>
            </div>
        </ng-template>
    </p-autocomplete>
</div>
