<div [formGroup]="form()">

    <label [for]="controlName()" class="label">{{ label() }} {{ form().get(controlName())?.errors?.['required'] ? '*' :
        '' }}</label>
        <br>

    <p-rating [name]="controlName()" [formControlName]="controlName()" [stars]="5" />

    @if(form().get(controlName())?.invalid && form().get(controlName())?.dirty) {

        @if(form().get(controlName())?.errors?.['required']) {

            <app-input-error-message-component>Le champs est requis</app-input-error-message-component>

        } 
        
    }
</div>