<div>

    <label [for]="label()" class="label">
        @if(icon()) {
            <span class="material-symbols text-primary text-base!">{{ icon() }}</span>
        }
        {{ label() }} @if (field().required() === true) { <span>*</span> }
    </label>

    <br>

    <p-rating [name]="label()" [field]="field" [stars]="5" />

    @if (field().invalid() && field().dirty()) {
        <app-input-error-message-component>{{ field().errors()[0].message }}</app-input-error-message-component>
    }

</div>