<div class="flex gap-4 justify-evenly flex-wrap">

    @if (currentVideoService.isLoadingVideos()) {

        @switch (type()) {
            @case ('movie') {
                <app-movie-loader-component />
            }
            @case ('serie') {
                <app-serie-loader-component />
            }
        }

    } @else {

        @for (item of currentVideoService.currentVideoStore.data(); track $index) {

        <app-video-card-component [video]="item" />

        } @empty {

        <p>Aucune vidéo disponible</p>

        }

    }



</div>