<p-fileUpload
    [multiple]="true"
    accept="image/*"
    [customUpload]="true"
    (onSelect)="onSelect($event)"
    (onClear)="clearCallback()">

    <ng-template #header let-files let-chooseCallback="chooseCallback">
        <div class="flex flex-wrap gap-4 w-full">
            <div class="flex gap-2 items-center w-full">
                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" />
                <p-button (onClick)="uploadEvent()" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0 || !form.controls.category.value" />
                <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
                <app-input-toggle-switch-component class="ml-auto"
                    [label]="'Tout passer en privé'"
                    [(value)]="isAllPrivate"
                />
            </div>
            <p-progressbar [value]="10" [showValue]="false" class="w-full md:w-20rem h-1 md:ml-auto">
                <span class="whitespace-nowrap">{{ 1 }}B / 1Mb</span>
            </p-progressbar>
        </div>
    </ng-template>
</p-fileUpload>