<div [formGroup]="form()">
    <label [for]="controlName()" class="label">{{ label() }} {{ form().get(controlName())?.errors?.['required'] ? '*' :
        '' }}</label>
    <p-iconfield>
        <p-inputicon>
            <span class="material-symbols">{{ icon() }}</span>
        </p-inputicon>
        <input type="text" pInputText [name]="controlName()" [placeholder]="placeholder()"
            [formControlName]="controlName()" fluid />
    </p-iconfield>
    <app-input-error-message-component [controlName]="controlName()" [form]="form()" />
</div>